

    @font-face {
        font-family: 'Roboto';
    }



    .root{
        -fx-background-image: url("background.jpg");
        -fx-background-size: 100% 100%;
        -fx-background-repeat: no-repeat;
    }

    .table-view, .list-view{
        -fx-background-color: white;
        -fx-background-insets: 0;
        -fx-box-border: #ffffff;
        -fx-font: 13px Roboto;
        -fx-text-alignment: center;
        -fx-table-cell-border-color: transparent;
        -fx-table-header-border-color: transparent;
    }

    .table-view .column-header{
        -fx-background-color: white;
        -fx-cell-size: 64px;


    }


    .table-column {
        -fx-alignment: center-left;
    }

    .column-header .label {
        -fx-font: 12px Roboto-medium;
        -fx-text-fill: #999999;
        -fx-alignment: center-left;
        -fx-pref-height: 56px;

    }
    .column-header-background {
        -fx-background-color: white;
    }
    .table-row-cell {
        -fx-cell-size: 48px;
        -fx-background-color: transparent;
        -fx-border-color:
                transparent
                transparent
                derive(-fx-base, 5%)
                transparent;

        -fx-margin-top: 10px;
        -fx-alignment: center-left;

    }

    .table-row-cell:filled:selected {
        -fx-background: -fx-control-inner-background ;
        -fx-background-insets: 0, 0 0 1 0 ;
        -fx-table-cell-border-color: transparent;
    }

    .table-view .scroll-bar:horizontal .increment-arrow,
    .table-view .scroll-bar:horizontal .decrement-arrow,
    .table-view .scroll-bar:horizontal .increment-button,
    .table-view .scroll-bar:horizontal .decrement-button {
        -fx-padding:0;
    }

    .check-box *.box {
        -fx-pref-width: 16px;
        -fx-pref-height: 16px;


    }

    .check-box {
        -fx-alignment: center-left;
    }

    .check-box:hover {
        -fx-cursor: hand;
    }

    .checkBoxColumn{
        -fx-alignment: center;
    }

    .table-view .column-header .checkBoxColumn .check-box {
        -fx-alignment: top-right;
    }

    .deleteButton {
        -fx-cursor: hand;

        -fx-background-color: transparent;
        /*-fx-background-image: url("../images/WineBackground.jpg");*/
    }
    #menuButton:pressed {
        -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.40), 8, 0.0, 0, 3);

    }

    #menuButton:focused {
        -fx-background-color:
                rgba(245, 245, 245, 1),
                rgba(230, 230, 230, 1);
        -fx-background-insets: 0, 1;
    }







